.form-container {
    background-color:white;
    text-decoration: none;
    }

  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .form {
    width: 520px;
    height: 600px;
    box-shadow: 3px 4px 5px 6px #363333; 
    padding-top: 30px;
    padding-bottom: 20px;
    background-color:white;
    border-radius: 20px;
  }
  
  .form-content {
    padding-left: 12%;
    padding-right: 12%;
  }

  .form-name {
    color: darkblue;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 30px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 20px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }
.btn{
    border-radius: 20px;
    width: 200px;
    text-align: center;
    margin: auto;
    text-decoration: none;
}
