.div1{
  background-color: black;
}

.Auth-form-containerr1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    
  }

  .Auth-form-contentfood {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
  }
.Auth-formtheme1{
    width: 620px;
    height: 500px;
    box-shadow: 3px 4px 5px 6px rgba(0, 0, 0, 0.597); 
    padding-top: 30px;
    padding-bottom: 20px;
    background-color:white;
    border-radius: 50%;
}
  .Auth-formcolfood {
    width: 420px;
    height: 300px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 50%;
}

.Auth-form-contentf1 {
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 30%;
  padding-top: 0%;
  color: hotpink;
	font-size: 70px;
  font-weight: 500;
  border-radius: 50px;
  text-shadow: 6px 6px 4px black;
}

.Auth-form-containerr2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  
}

.Auth-form-contentshop {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15%;
}
.Auth-formtheme2{
  width: 620px;
  height: 500px;
  box-shadow: 3px 4px 5px 6px rgba(0, 0, 0, 0.597); 
  padding-top: 30px;
  padding-bottom: 20px;
  background-color:white;
  border-radius: 50%;
}
.Auth-formcolshop {
  width: 420px;
  height: 300px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 50%;
}

.Auth-form-contentf2 {
padding-left: 32%;
padding-right: 50%;
padding-bottom: 30%;
padding-top: 15%;
color: hotpink;
font-size: 100px;
font-weight: 500;
border-radius: 50px;
text-shadow: 6px 6px 4px black;
}

.Auth-form-containerr3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  
}

.Auth-form-contenttou {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15%;
}
.Auth-formtheme3{
  width: 620px;
  height: 500px;
  box-shadow: 3px 4px 5px 6px rgba(0, 0, 0, 0.597); 
  padding-top: 120px;
  padding-bottom: 10px;
  background-color:white;
  border-radius: 50%;
}
.Auth-formcoltou {
  width: 420px;
  height: 300px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 50%;
}

.Auth-form-contentf3 {
padding-left: 10%;
padding-right: 20%;
padding-bottom: 30%;
padding-top: 05%;
color: hotpink;
font-size: 90px;
font-weight: 500;
border-radius: 50px;
text-shadow: 6px 6px 4px black;
}

.Auth-form-containerr4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  
}

.Auth-form-contentedu {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15%;
}
.Auth-formtheme4{
  width: 620px;
  height: 500px;
  box-shadow: 3px 4px 5px 6px rgba(0, 0, 0, 0.597); 
  padding-top: 05px;
  padding-bottom: 10px;
  background-color:white;
  border-radius: 10%;
}
.Auth-formcoledu {
  width: 420px;
  height: 300px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 50%;
}

.Auth-form-contentf4 {
padding-left: 05%;
padding-right: 50%;
padding-bottom: 30%;
padding-top: 15%;
color: hotpink;
font-size: 80px;
font-weight: 500;
border-radius: 50px;
text-shadow: 6px 6px 4px black;
}

.Auth-form-containerr5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  
}

.Auth-form-contenteme {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15%;
}
.Auth-formtheme5{
  width: 620px;
  height: 600px;
  box-shadow: 3px 4px 5px 6px rgba(0, 0, 0, 0.597); 
  padding-top: 10px;
  padding-bottom: 20px;
  background-color:white;
  border-radius: 10%;
}
.Auth-formcoleme {
  width: 420px;
  height: 300px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 50%;
}

.Auth-form-contentf5 {
padding-left: 0%;
padding-right: 50%;
padding-bottom: 30%;
padding-top: 15%;
color: hotpink;
font-size: 90px;
font-weight: 500;
border-radius: 50px;
text-shadow: 6px 6px 4px black;
}


.Auth-form-containerr6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  
}

.Auth-form-contentshe {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15%;
}
.Auth-formtheme6{
  width: 620px;
  height: 500px;
  box-shadow: 3px 4px 5px 6px rgba(0, 0, 0, 0.597); 
  padding-top: 0px;
  padding-bottom: 20px;
  background-color:white;
  border-radius: 50%;
}
.Auth-formcolshe {
  width: 420px;
  height: 300px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 50%;
}

.Auth-form-contentf6 {
padding-left: 20%;
padding-right: 05%;
padding-bottom: 30%;
padding-top: 0%;
color: hotpink;
font-size: 90px;
font-weight: 500;
border-radius: 50px;
text-shadow: 6px 6px 4px black;
}

.Auth-form-containerr7 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  
}

.Auth-form-contentsp {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15%;
}
.Auth-formimg7{
  width: 620px;
  height: 500px;
  box-shadow: 3px 4px 5px 6px rgba(0, 0, 0, 0.597); 
  padding-top: 0px;
  padding-bottom: 20px;
  background-color:white;
  border-radius: 50%;
  background-image: url(../images/f2.jpg);
}
.Auth-formcolsp {
  width: 420px;
  height: 300px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 50%;
}

.Auth-form-contentf7 {
padding-left: 20%;
padding-right: 05%;
padding-bottom: 30%;
padding-top: 0%;
color: hotpink;
font-size: 90px;
font-weight: 500;
border-radius: 50px;
text-shadow: 6px 6px 4px black;
}